/* Diseño general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #FFFFFF; /* Fondo completamente blanco */
  font-family: Arial, sans-serif;
}

/* Encabezado con logo en la esquina superior izquierda */
header {
  position: absolute;
  top: 40px; /* Mueve el logo hacia abajo */
  left: 20px;
}

header h1 {
  font-size: 1.5rem;
  color: #7A6DE3;
  margin: 0;
}

/* Estilo del contenedor central */
.container {
  flex: 1;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 80px; /* Ajusta espacio debajo del logo */
  margin-bottom: 60px; /* Ajusta espacio encima del footer */
}

canvas {
  width: 100%;
  max-width: 100%;
  height: auto; /* Ajusta la altura del canvas */
  border: 1px solid #0D47A1;
  border-radius: 8px;
  margin-top: 15px;
  cursor: crosshair;
}

#upload {
  display: block;
  width: 100%; /* Ajusta el ancho al contenedor */
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
  font-size: 1rem;
  color: #0D47A1;
  border: 1px solid #0D47A1;
  border-radius: 8px;
  background-color: #FFF;
  cursor: pointer;
  box-sizing: border-box; /* Evita que el padding aumente el tamaño */
}

#detect-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000;
  color: #FFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#color-info {
  margin-top: 10px;
  font-size: 1rem;
  color: #7A6DE3;
  font-weight: bold;
}

/* Footer Navigation */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #7A6DE3;
  padding: 20px 0; /* Aumenta el padding para ocupar más espacio */
  position: fixed;
  bottom: 0;
  height: 60px; /* Ajusta la altura para que llene el espacio vacío */
}

.nav-button {
  flex: 1;
  color: #FFF;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}
